@import 'src/app/styles/reset';
@import 'src/app/styles/variables/global';
@import 'src/app/styles/themes/dark';
@import 'src/app/styles/themes/default';

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
}

.page-wrapper {
    flex: 1;
    padding: 20px;
}