.SideBar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    max-width: var(--sidebar-width);
    width: 100%;
    background: var(--inverted-bg-color);
    transition: .3s max-width ease;
}
.collapsed {
    max-width: var(--sidebar-width-collapsed);
}
.switchers{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

