.item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color: var(--inverted-primary-color);
}

.link{
    opacity: 1;
    white-space: nowrap;
    transition: .3s all ease;
    max-width: 100%;
    color: var(--inverted-primary-color);

    &.collapsed {
        opacity: 0;
        max-width: 0;
    }
}

.icon {
    fill: var(--inverted-primary-color)
}

