.profile {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.editBtn {
    margin-left: auto;
}

.input {
    margin-top: 10px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}